# Ignore homework files (ДЗ)
*[Дд][Зз][ ._0-9-]*
*[Dd][Zz][ ._0-9-]*
*[Hh][Ww][ ._0-9-]*
*[Hh]omework*
*[Дд]омашн*
# Также проверяем окончания имени перед точкой или концом строки
*[Дд][Зз].*
*[Дд][Зз]

# Ignore ISPRO (ИСПРО) - contains personal labs
ИСПРО/
[Ии][Сс][Пп][Рр][Оо]/

# OS / temporary files
*.tmp
~$*
desktop.ini
thumbs.db
.DS_Store
